:root {
  --whiteColor: white;
  --secondaryColor: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  background-image: url(../images/worldmap.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60%;
}

header {
  padding-top: 1em;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8em;
  display: inline;
  letter-spacing: 2px;
}

.top-hr {
  border: 1px solid var(--whiteColor);
  opacity: 70%;
  width: 35%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 4px;
  background-color: var(--whiteColor);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: none;
  margin-bottom: 9px;
  margin-left: 10px;
  cursor: pointer;
}

.blue-linear {
  color: rgb(93, 224, 247);
}

.settings-divs {
  padding-top: 2rem;
}

.main-settings {
  display: none;
}

.exit-img {
  width: 20px;
  height: 20px;
  background: linear-gradient(0.2turn, rgb(93, 224, 247), rgb(172, 54, 219));
  border-radius: 100%;
  cursor: pointer;
}

.exit-img:hover {
  background: linear-gradient(0.2turn, rgb(177, 53, 37), rgb(93, 224, 247));
}

.hint-div {
  padding-top: 1.1em;
}

.hint-imgs {
  width: 45px;
  height: 45px;
}

figcaption {
  padding-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

.input-div {
  padding-top: 2rem;
  position: relative;
}

.bottom-hr {
  border: 1px solid var(--whiteColor);
  opacity: 70%;
  width: 35%;
  z-index: -1;
}

.question-mark-img {
  width: 45px;
  height: 45px;
  border: 1px solid var(--whiteColor);
  opacity: 1;
  border-radius: 100%;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.question-mark-img:hover {
  background: #535353;
}

.enter-img {
  width: 46px;
  height: 46px;
  margin-top: 15px;
  background: linear-gradient(#666666, #8b8b8b);
  opacity: 1;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}

.enter-img:hover {
  background: linear-gradient(#8888, #9999);
}

.country-guess {
  height: 30px;
  min-width: 230px;
  padding: 8px;
  font-size: 1em;
  background: var(--secondaryColor);
  color: var(--whiteColor);
  border: none;
  text-align: center;
  border-bottom: 1px solid rgb(139, 139, 139);
}

.country-guess::placeholder {
  color: var(--whiteColor);
  text-align: center;
  font-size: 1em;
}

.country-guess:focus,
.country-guess:active {
  opacity: 1;
  border-bottom: 1px solid var(--whiteColor);
  outline: none;
  padding: 8px;
  font-size: 1em;
  transition: 0.4s ease-in;
}

.country-guess-border {
  border: 1px solid var(--whiteColor);
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px 15px 0 15px;
}

h5 {
  margin-bottom: 15px;
}

.guess-location-div {
  width: 24%;
  max-height: 55vh;
  margin: 0 auto;
  padding-top: 1em;
  overflow-y: auto;
  padding-bottom: 18rem;
}

.guess-location-div::-webkit-scrollbar {
  background: #444;
}

.guess-location-div::-webkit-scrollbar-thumb {
  background: #5f5e5e;
}

.guess-hint-div {
  width: 74px;
  height: 70px;
  border-radius: 100%;
  padding: 22px 0 0 0;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: auto;
}

.red {
  background: #bb0923;
}

.green {
  background: #00903d;
}

.blue {
  background: #56abdd;
}

.suggestion-div {
  border: 1px solid blue;
  display: none;
}

.suggestion-ul {
  max-height: 240px;
  max-width: 17%;
  list-style: none;
  background: #464646;
  opacity: 1;
  border: none;
  text-transform: capitalize;
  margin: auto;
  overflow-y: auto;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  padding: 12px;
  position: absolute;
  bottom: 52px;
  right: 0;
  left: 0;
}

.arrow-img {
  width: 22px;
  height: 22px;
}

.arrow-img-div {
  position: relative;
}

.top {
  transform: rotate(180deg);
  position: absolute;
  top: 3px;
  right: 26px;
}

.bottom {
  padding-right: 3px;
}

.correct-answer {
  display: none;
}

.invalid-guess {
  color: red;
  display: none;
}
