:root {
  --whiteColor: white;
  --secondaryColor: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  background-image: url(../images/worldmap.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60%;
}

header {
  padding-top: 1em;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8em;
  display: inline;
  letter-spacing: 2px;
}

.top-hr {
  border: 1px solid var(--whiteColor);
  opacity: 70%;
  width: 35%;
}

.settings {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: none;
  margin-bottom: 9px;
  margin-left: 10px;
  cursor: pointer;
}

.blue-linear {
  color: rgb(93, 224, 247);
}

.settings-divs {
  padding-top: 2rem;
}

.main-settings {
  display: none;
}

.exit-img {
  width: 20px;
  height: 20px;
  background: linear-gradient(0.2turn, rgb(93, 224, 247), rgb(172, 54, 219));
  border-radius: 100%;
  cursor: pointer;
}

.exit-img:hover {
  background: linear-gradient(0.2turn, rgb(177, 53, 37), rgb(93, 224, 247));
}

.hint-div {
  padding-top: 1.1em;
}

.hint-imgs {
  width: 45px;
  height: 45px;
}

figcaption {
  padding-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

.input-div {
  padding-top: 2rem;
  position: relative;
}

.bottom-hr {
  border: 1px solid var(--whiteColor);
  opacity: 70%;
  width: 35%;
  z-index: -1;
}

.question-mark-img {
  width: 45px;
  height: 45px;
  border: 1px solid var(--whiteColor);
  opacity: 1;
  border-radius: 100%;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.question-mark-img:hover {
  background: #535353;
}

.enter-img {
  width: 46px;
  height: 46px;
  margin-top: 15px;
  background: linear-gradient(#666666, #8b8b8b);
  opacity: 1;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}

.enter-img:hover {
  background: linear-gradient(#8888, #9999);
}

.country-guess {
  height: 30px;
  min-width: 230px;
  padding: 8px;
  font-size: 1em;
  background: var(--secondaryColor);
  color: var(--whiteColor);
  border: none;
  text-align: center;
  border-bottom: 1px solid rgb(139, 139, 139);
}

.country-guess::placeholder {
  color: var(--whiteColor);
  text-align: center;
  font-size: 1em;
}

.country-guess:focus,
.country-guess:active {
  opacity: 1;
  border-bottom: 1px solid var(--whiteColor);
  outline: none;
  padding: 8px;
  font-size: 1em;
  transition: 0.4s ease-in;
}

.country-guess-border {
  border: 1px solid var(--whiteColor);
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px 15px 0 15px;
}

h5 {
  margin-bottom: 15px;
}

.guess-location-div {
  width: 24%;
  max-height: 55vh;
  margin: 0 auto;
  padding-top: 1em;
  overflow-y: auto;
  padding-bottom: 18rem;
}

.guess-location-div::-webkit-scrollbar {
  background: #444;
}

.guess-location-div::-webkit-scrollbar-thumb {
  background: #5f5e5e;
}

.guess-hint-div {
  width: 86px;
  height: 76px;
  border-radius: 100%;
  padding: 25px 0 0 0;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.red {
  background: #ad1d1d;
}

.green {
  background: #00903d;
}

.blue {
  background: #56abdd;
}

.suggestion-div {
  display: none;
}

.suggestion-ul {
  max-height: 240px;
  max-width: 17%;
  list-style: none;
  background: #464646;
  opacity: 1;
  border: none;
  text-transform: capitalize;
  margin: auto;
  overflow-y: auto;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  padding: 12px;
  position: absolute;
  bottom: 52px;
  right: 0;
  left: 0;
}

.arrow-img {
  width: 22px;
  height: 22px;
  background: transparent;
}

.arrow-img-div {
  position: relative;
}

.top {
  transform: rotate(180deg);
  position: absolute;
  top: 4px;
  right: 33px;
}

.bottom {
  padding-right: 3px;
  bottom: 8px;
  position: absolute;
  left: 33px;
}

.invalid-guess {
  color: red;
  display: none;
}

.congrats-h2 {
  letter-spacing: 1px;
  padding: 1em;
}

.pin-img {
  width: 25px;
  height: 25px;
}

.confirm-answer-div {
  margin-top: 2em;
}

.give-answer-btn {
  width: 70px;
  height: 40px;
  font-size: 18px;
  display: block;
}

.confirm-give-answer {
  display: inline;
}

.give-answer-exit {
  width: 20px;
  height: 20px;
  background: var(--whiteColor);
  border-radius: 10px;
  cursor: pointer;
}

.give-answer-exit:hover {
  background: rgb(211, 210, 210);
}

.guess-h5 {
  padding-top: 1em;
}

@media (max-width: 480px) {
  body {
    background-size: 100%;
  }

  .h1-title {
    font-size: 24px;
  }

  .settings {
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
    margin-left: 10px;
  }

  .exit-img {
  }
  /* on this one */
  .top-hr {
    width: 100%;
  }

  .settings-divs {
    padding-top: 1rem;
  }

  .hint-imgs {
    width: 35px;
    height: 35px;
  }

  figcaption {
    font-size: 10px;
    font-weight: 600;
  }

  .guess-location-div {
    width: 92%;
    max-height: 53vh;
    padding-top: 8px;
    padding-bottom: 18rem;
  }

  .guess-h5 {
    padding-top: 12px;
    font-size: 1em;
  }

  .guess-hint-div {
    width: 70px;
    height: 60px;
    border-radius: 100%;
    padding: 20px 0 0 0;
    font-size: 10px;
    font-weight: 700;
  }

  .arrow-img {
    width: 18px;
    height: 18px;
  }

  .top {
    top: 3px;
    right: 27px;
  }

  .bottom {
    padding-right: 3px;
    bottom: 5px;
    left: 27px;
  }

  .bottom-hr {
    width: 100%;
  }

  .confirm-answer-div {
    margin-top: 0.4em;
  }

  .give-answer-btn {
    width: 55px;
    height: 34px;
    font-size: 14px;
  }

  .confirm-give-answer {
    font-size: 14px;
  }

  .give-answer-exit {
    width: 15px;
    height: 15px;
  }

  .congrats-h2 {
    padding: 8px;
    font-size: 1.3em;
  }

  .input-div {
    padding-top: 1rem;
  }

  .invalid-h3 {
    font-size: 20px;
  }

  .suggestion-ul {
    max-height: 140px;
    max-width: 59%;
    font-size: 1em;
    padding: 10px;
    bottom: 48px;
  }

  .pin-img {
    width: 18px;
    height: 18px;
  }

  .question-mark-img {
    width: 35px;
    height: 35px;
    padding: 8px;
    margin-top: 12px;
  }

  .country-guess-border {
    margin: 10px 10px 0 10px;
  }

  .country-guess {
    height: 25px;
    min-width: 220px;
    padding: 8px;
    font-size: 14px;
  }

  .country-guess::placeholder {
    font-size: 14px;
  }

  .country-guess:focus,
  .country-guess:active {
    font-size: 14px;
  }

  .enter-img {
    width: 37px;
    height: 37px;
    margin-top: 12px;
    padding: 8px;
  }

  .settings-p {
    font-size: 13px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-size: 100%;
  }

  .h1-title {
    font-size: 26px;
  }

  .settings {
    width: 24px;
    height: 24px;
    margin-bottom: 7px;
    margin-left: 10px;
  }

  .exit-img {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }

  .top-hr {
    width: 80%;
  }

  .settings-divs {
    padding-top: 1.4rem;
  }

  .hint-imgs {
    width: 35px;
    height: 35px;
  }

  figcaption {
    font-size: 10px;
    font-weight: 600;
  }

  .guess-location-div {
    width: 92%;
    max-height: 53vh;
    padding-top: 8px;
    padding-bottom: 18rem;
  }

  .guess-h5 {
    padding-top: 12px;
    font-size: 1em;
  }

  .guess-hint-div {
    width: 70px;
    height: 60px;
    border-radius: 100%;
    padding: 20px 0 0 0;
    font-size: 10px;
    font-weight: 700;
  }

  .arrow-img {
    width: 18px;
    height: 18px;
  }

  .top {
    top: 3px;
    right: 27px;
  }

  .bottom {
    padding-right: 3px;
    bottom: 5px;
    left: 27px;
  }

  .bottom-hr {
    width: 100%;
  }

  .confirm-answer-div {
    margin-top: 0.4em;
  }

  .give-answer-btn {
    width: 55px;
    height: 34px;
    font-size: 14px;
  }

  .confirm-give-answer {
    font-size: 14px;
  }

  .give-answer-exit {
    width: 15px;
    height: 15px;
  }

  .congrats-h2 {
    padding: 8px;
    font-size: 1.3em;
  }

  .input-div {
    padding-top: 1rem;
  }

  .invalid-h3 {
    font-size: 20px;
  }

  .suggestion-ul {
    max-height: 140px;
    max-width: 59%;
    font-size: 1em;
    padding: 10px;
    bottom: 48px;
  }

  .pin-img {
    width: 18px;
    height: 18px;
  }

  .question-mark-img {
    width: 35px;
    height: 35px;
    padding: 8px;
    margin-top: 12px;
  }

  .country-guess-border {
    margin: 10px 10px 0 10px;
  }

  .country-guess {
    height: 25px;
    min-width: 220px;
    padding: 8px;
    font-size: 14px;
  }

  .country-guess::placeholder {
    font-size: 14px;
  }

  .country-guess:focus,
  .country-guess:active {
    font-size: 14px;
  }

  .enter-img {
    width: 37px;
    height: 37px;
    margin-top: 12px;
    padding: 8px;
  }

  .settings-p {
    font-size: 13px;
  }
}
